* {
  --margin: 2rem 0
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff0ea;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100svh;
}

.wrapper {
  width: min(95%, 1080px);
}

h1 {
  font-size: 3rem;
  margin: var(--margin);
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  margin: var(--margin);
}

section {
  text-align: left;
  margin: var(--margin);
}

section>ul {
  display: grid;
  gap: 1rem;
  font-size: 1.2rem;
}
